[Unit]
Description=Monter le NAS Synology au démarrage
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/scanner/mount_synology.sh
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target